a{
    color: hwb(257 2% 69%);
    margin: 10px 20px;
}

a:hover {
    color: #f34d5e;
}

body {
    background-color:aqua;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    
}

h1 {
    margin: 50px auto 0 auto;
    font-size: 250%;
    color: #fa8d8d

}

h2{

    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #fa8d8d;
    font-weight:bold;
}

h3{

    font-family: 'Montserrat', sans-serif;
    color: #fa8d8d;
    font-weight: bold;
}


hr {
    border-color: #fcbaba;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    height: 0px; 
    width: 4%;
    margin: 100px, auto;
}

p {
    color: whitesmoke;
}


.bottom-container {
    background-color: #f34d5e;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
.button {
    height: 50px;
    width: 50px;
}

.button:hover {
    color: #ffffff;
}

.colour {
    font-size: 150%;
    color: #fa8d8d;
}

.codepic {
    height: 500px;
    width: 700px;
}

.coding {
    width: 25%;
    float: left;
    margin-right: 30px;
}



.middle-container {
    background-color: rgb(253, 208, 208);
}

.myphoto {
  padding-top: 50px;
  padding-bottom: 50px;
  height: 200px;
  width: 200px;
}

.intro {
  width: 30%;
  margin: auto;
}

.profile {
    padding: 5%;
}

.skills {
    padding: 5%;
}

.contact-me {
    padding: 5%;
    width: 30%;
    margin: auto;
}

.skill-row {
   width: 55%;
   margin: 70px auto;
   text-align: left;
   line-height: 2;

}

.top-container {
    padding-top: 10px;
    color: #ed6f6f;

}

/*
.topmost {
    height: 60px;
    width: 100%;
    background-color: #fa8d8d;
}
*/
.vlogging {
    width: 25%;
    float: right;
    margin-left: 30px;
}
